body.gallery section.content-wrapper {
    ul {
        padding: 0;
        margin: 0;
        li {
            display: block;
            margin: 0 20px 20px 0;
            padding: 0;
            list-style-type: none;
            float: left;
            img {
                display: block;
            }
        }
    }
}