<div id="contact-message"></div>
<form action="#" method="post" class="contact-form" action="/contact/?sent=true">
  <div class="webform-component left">
    <label for="full_name">Full Name</label><span class="required">*</span>
    <input type="text" name="Full Name" id="full_name" required="">
    <label for="company">Company</label><span class="required">*</span>
    <input type="text" name="Company" id="company" required="">
  </div>
  <div class="webform-component left">
    <label for="email">Email</label><span class="required">*</span>
    <input type="email" name="Email" id="email" required="">
    <label for="phone_number">Phone Number</label>
    <input type="text" name="Phone Number" id="phone_number">
  </div>
  <div class="webform-component">
    <label>Are you a previous customer?</label><span class="required">*</span>
    <input type="radio" name="Previous Customer" value="no" checked>No
    <input type="radio" name="Previous Customer" value="yes">Yes
  </div>
  <div class="webform-component">
    <div>
      <span class="subfield">
        <label class="choice" for="htn_kentucky_bluegrass">HTN Kentucky Bluegrass</label>
        <input id="htn_kentucky_bluegrass" name="HTN Kentucky Bluegrass" type="checkbox" class="field checkbox" value="true">
      </span>
      <span class="subfield">
        <label class="choice" for="90_10_fescue">90/10 Fescue Mix</label>
        <input id="90_10_fescue" name="90/10 Fescue Mix" type="checkbox" class="field checkbox" value="true">
      </span>
      <br>
      <span class="subfield">
        <label class="choice" for="htn_hybrid_texas_bluegrass">HTN Hybrid Texas Bluegrass</label>
        <input id="htn_hybrid_texas_bluegrass" name="HTN Hybrid Texas Bluegrass" type="checkbox" class="field checkbox" value="true">
      </span>
      <span class="subfield">
        <label class="choice" for="htn_sport_turfs">HTN Sport Turfs</label>
        <input id="htn_sport_turfs" name="HTN Sport Turf" type="checkbox" class="field checkbox" value="true" >
      </span>
    </div>
  </div>
  <div class="webform-component">
    <label for="message">Tell us about your sod project.</label><span class="required">*</span>
    <textarea id="message" name="Message" rows="6" cols="25"></textarea>
  </div>
  <input type="hidden" name="_to" value="jason@horizonturfnursery.com,dick@horizonturfnursery.com">
  <input type="hidden" name="_subject" value="Horizon Turf Nursery - Contact Form">
  <input type="text" name="_gotcha" style="display: none;">
  <input class="sendButton" type="submit" value="Send">
</form>

<br>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d779681.6622961562!2d-104.52223103499851!3d40.239494979386016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876dc2fd9d436da9%3A0xe7e93ec7e04f0390!2s16652+Co+Rd+10%2C+Fort+Morgan%2C+CO+80701!5e0!3m2!1sen!2sus!4v1486420948627" width="900" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>