<div class="footer-wrapper">
  <footer role="contentinfo" class="wrap top clearfix">

  	<section class="footer-top clearfix">
      <div class="footer-gallery">
        <img src="/assets/images/gallery-placeholder.jpg">
      </div>
  	</section>

  	<section class="footer-bottom clearfix">
  		<div class="left">
  			<p>Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
  		</div>
   		<div class="right">
        <p>Photos provided by: <a href="http://www.designsbysundown.com/" target="_blank">Designs by Sun Down</a></p>
   			<p>Site by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a></p>
    	</div>
  	</section>
  </footer>
</div>