<aside class="sidebar">
  <div class="location-block editable">
    <img src="/assets/images/icons/waypoint.png" alt="Located in Fort Morgan">
    <h4>Located in Fort Morgan</h4>
    <p>Serving all of the Front Range and all of Metro Denver.</p>
    <p><strong>Mailing address:</strong><br>
15470 CRD 11<br>
Fort Morgan Co 80701</p>

<p><strong>Physical Address for Sod Pickup:</strong><br>
16652 CRD 10<br>
Fort Morgan Co 80701</p>
  </div>
  <div class="associations-block editable">
    <a href="http://sod-growers.com/" class="sidebarlogo" target="_blank">
      <img src="/assets/images/logos/rocky-mountain-sod-growers.png" alt="Rocky Mountain Sod Growers">
    </a>
    <a href="http://www.alcc.com/" class="sidebarlogo" target="_blank">
      <img src="/assets/images/logos/associated-landscape-contractors-of-colorado.png" alt="Associated Landscape Contractors of Colorado">
    </a>
    <a href="http://www.bbb.org/northern-colorado/business-reviews/sod-and-sodding-service/horizon-turf-nursery-in-fort-morgan-co-46009050" class="sidebarlogo" target="_blank">
      <img src="/assets/images/logos/bbb.png" alt="BBB Accredited">
    </a>
  </div>
</aside>
