<div class="sod-types">
  {% for item in site.sodtypes | sort: 'item.weight' %}
    <div class="sod-type-teaser">
      <!-- Editor Link -->
      <div class="edit-link">
        <a href="cloudcannon:collections/{{ item.relative_path }}">
          <img src="/assets/images/icons/settings.svg" alt="settings">
          <span>Edit</span>
        </a>
      </div>
      <h3>{{ item.title }}</h3>
      {% if item.subtitle %}
        <h6>{{ item.subtitle }}</h6>
      {% endif %}
      {{ item.content }}
      <canvas id="myChart{{item.weight}}" width="400" height="230"></canvas>
      <script>
        var ctx = document.getElementById("myChart{{item.weight}}");
        var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [ {% include sod-label.html %} ],
            datasets: [{
              data: [ {% include sod-values.html %} ],
              label: 'Sod Stats',
              backgroundColor: 'rgba(197, 76, 74, 0.75)',
              borderColor: 'rgba(197, 76, 74, 1)',
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      </script>
    </div>
  {% endfor %}
</div>