.unslider {
  min-width: 100%;
  li {
    position: relative;
  }
}
.unslider-arrow {
  position: relative;
  &.prev {
    float: left;
    margin: -25% 0 0;
    width: 51px;
    height: 50px;
  }
  &.next {
    float: right;
    margin: -25% 0 0;
    width: 51px;
    height: 50px;
  }
}
.caption {
  background: url("/assets/images/icons/arrow.svg") 20px center no-repeat rgba(29, 29, 29, .71);
  display: block;
  position: absolute;
  bottom: 0;
  right: 100px;
  padding: 1.5em 2.5em 1.5em 3.5em;
  color: $white;
  z-index: 1;
  h2, h3, h4 {
    margin: 0;
    padding: 0;
    color: $white;
  }
  @include breakpoint($tablet, $no-query: '.no-mq') {
    bottom: 50px;
  }
}
