html {
	box-sizing: border-box;
	body {
    margin: 0;
	  height: 100%;
    background: #fff url('/assets/images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}
}
*, *:before, *:after { box-sizing: inherit; }
.wrap {
  //padding: 0 1.5em;
  @include clearfix;
  max-width: $container_width;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    //padding: 0 2em;
  }
}
.site-wrapper {
  margin: 4em auto 0 auto;
  box-shadow: 0 2px 20px rgba(0,0,0,0.6);
  max-width: $container_width;
}