header.wrap {
  background: #fff;
  margin: 0 auto;
  @include clearfix;
  //padding: 1em 2em 2em 2em;
  @include breakpoint($tablet, $no-query: '.no-mq') {
    //padding: 4em 2em 0;
  }
  .contact {
    color: $color-one;
    text-align: center;
    padding: 1em 1em;
    background: #E7E7E7;
    @include breakpoint($tablet, $no-query: '.no-mq') {
      text-align: right;
      padding: 1.5em 2em 0 1.5em;
    }
    span {
      display: inline-block;
      
      &.text {
        
        font-size: 1.1em;
        @include breakpoint($tablet, $no-query: '.no-mq') {
          font-weight: 400;
          font-size: 1.4em;
        }
      }
      &.phone {
        font-size: 1.1em;
        font-weight: 700;
        @include breakpoint($tablet, $no-query: '.no-mq') {
          margin-left: .5em;
         font-size: 1.4em;
        }

      }
    }
    @include breakpoint($tablet, $no-query: ".no-mq") {
      @include grid-span(9,4);
       height: 78px;
    }
  }
}

.header-top {
  @include breakpoint($tablet, $no-query: '.no-mq') {
    height: 166px;
  }
}




.nav-header {
  z-index: 1;
  @include breakpoint($tablet, $no-query: ".no-mq") {
    float: none;
    top: 0;
    padding: 0 5em;
    transition: top .5s ease-in-out;
    text-align: center;
  }
}


.logo {
  text-align: center;
  padding: 1em;
  @include breakpoint($tablet, $no-query: ".no-mq") {
      @include grid-span(3,1,$gutter:0);
      //padding:2em 0;
      padding-top: 1em;
  }
}

.main-nav {
  background: #F4F4F4;
  @include breakpoint($tablet, $no-query: ".no-mq") {
      @include grid-span(9,4);
       height: 88px;
  }
}